<h4>Post details</h4>
<br />
<p>
	<%= @row['content'] %>
	<br />
	<br />
	Added at: <%= @row['created_date'] %>
</p>
<br />
<h4>Comments</h4>

<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
		
  		<textarea name="content" class="form-control" placeholder="Type comment text here" id="floatingTextarea2" style="height: 200px"></textarea>

  		<%# <label for="floatingTextarea2">Comments</label>
  		<br /> %>
		 
		<br />
  		<button type="submit" class="btn btn-primary">Add comment</button>


	</form>
</p>